 <!-- Publications -->
 <section id="PublicationCont">
        <div class="container">
        <a href="#!">
            <h2 class="display__title h2"> Publicações </h2>  
        </a>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 mb-3">
            <div class="card card-cascade wider hoverable">
                <div class="card-body">
                <h6 class="silver-text h7">
                    {{ publications[0].get_cat() }}
                    <span class="px-1">|</span>
                    <time datetime="2018-16-01" itemprop="datePublished">
                        {{ moment(publications[0].date).format('LL') }}
                    </time>
                </h6>
                <hr class="my-2">
                <h5 class="card-title">
                    <a href="#!" class="a-under">
                    <img class="float-right" src="/static/imgs/Pub_1_.jpg" alt="Card image cap" height="75px" width="75px">
                    {{ publications[0].title }}
                    </a>
                </h5>
                <p class="card-text text-dark d-block d-md-none d-lg-block">
                    {{ publications[0].abstract }}
                </p>
                <p class="h7 text-secondary">
                    {{ publications[0].authors }}
                </p>
                
                </div>
            </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-3">
            <div class="card card-cascade wider hoverable">
                <div class="card-body">
                <h6 class="silver-text h7">
                    Modelamento
                    <span class="px-1">|</span>
                    <time datetime="2018-14-01" itemprop="datePublished">14 de Janeiro de 2018</time>
                </h6>
                <hr class="my-2">
                <h5 class="card-title">
                    <a href="#!" class="a-under">
                    <img class="float-right" src="/static/imgs/Pub_2.png" alt="Card image cap" height="75px" width="75px">
                    Titulo Publicação Titulo Publicação Titulo Publicação Titulo Publicação Titulo Publicação
                    </a>
                </h5>
                <p class="card-text text-dark d-block d-md-none d-lg-block">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                    Some quick example text to build on the card title and make up the bulk of the card's content...
                </p>
                <p class="h7 text-secondary">
                    Author A., Author B., Author C., ...
                </p>
                
                </div>
            </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-3">
            <div class="card card-cascade wider hoverable">
                <div class="card-body">
                <h6 class="silver-text h7">
                    Tectônica
                    <span class="px-1">|</span>
                    <time datetime="2018-10-01" itemprop="datePublished">10 de Janeiro de 2018</time>
                </h6>
                <hr class="my-2">
                <h5 class="card-title">
                    <a href="#!" class="a-under">
                    <img class="float-right" src="/static/imgs/Pub_3.jpg" alt="Card image cap" height="75px" width="75px">
                    Titulo Publicação Titulo Publicação Titulo Publicação Titulo Publicação Titulo Publicação
                    </a>
                </h5>
                <p class="card-text text-dark d-block d-md-none d-lg-block">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                    Some quick example text to build on the card title and make up the bulk of the card's content...
                </p>
                <p class="h7 text-secondary">
                    Author A., Author B., Author C., ...
                </p>
                
                </div>
            </div>
            </div>
        </div>
        <div class="d-flex w-100 justify-content-end btn-more-div">
            <span class="font-weight-bold blue-text">Mais Publicações</span>
            <a class="btn-floating btn-sm blue-gradient my-0"><i class="fa fa-chevron-right"></i></a>
        </div>
        </div>
    </section>
    <!-- Publications -->