<!-- Team -->
<section id="teamCont" class="section parallax cnt-backgorund-h-two">
    <div class="container">
        <a href="#!">
            <h2 class="display__title_2 h2 text-light text-shadow"> Equipe </h2>  
        </a>
        <div class="row">
            <!--Carousel Wrapper-->
            <div id="team-carousel" class="carousel slide carousel-multi-item" data-ride="carousel">

                <!--Indicators-->
                <ol class="carousel-indicators bottom-25">
                    
                    <li data-target="#team-carousel" data-slide-to="0" class="active"></li>
                    {% for i in range(1, ((team.all()|length / 4)|round(0,'ceil')| int)) %}
                        <li data-target="#team-carousel" data-slide-to="{{ i }}"></li>
                    {% endfor %}
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    {% for member in team %}

                        {% if loop.index0 % 4 == 0 or loop.first %}
                        <!--Slide Item-->
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <div class="row col-centered">
                        {% endif %}

                                <!-- member -->
                                <div class="col-12 col-sm-6 col-md-3 mb-3">
                                    <div class="avatar-up"></div>
                                        <a class="text-dark" href="#!">
                                    <div class="card team-card hoverable">
                                        
                                        <div class="avatar">
                                            <img src="{{ member.foto }}" class="img-fluid z-depth-3 rounded-circle">
                                        </div>
                                        <div class="card-body text-center">
                                            <h4>
                                                {{ member.name }}
                                            </h4>
                                            <h5 class="blue-grey-text">{{ member.role }}</h5>
                                            <p class="card-text text-justify d-block d-sm-none d-lg-block">
                                            {{ member.intro }} 
                                            </p>
                                        </div>
                                    </div>
                                    </a>
                                </div>
                                <!-- member -->
                        {% if ((loop.index) % 4 == 0) or loop.last %} 
                            </div>
                        </div>
                        <!--Slide Item-->
                        {% endif %}
                    {% endfor %}
                </div>
                <!--Slides-->
            </div>
            <!--Carousel Wrapper-->
        </div>  
    </div>  
</section>
<!-- Team -->